<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.Drake.SSM_sys.dao.UserMapper">
    <insert id="userAdd"  parameterType="com.Drake.SSM_sys.bean.User" >
        insert into  User values (null ,#{username},#{password},#{sex},#{age},#{roomid},#{identity},#{phone})
    </insert>
    <delete id="deleteUserById" parameterType="int">
        delete  from user where  uid=#{uid}
    </delete>
    <select id="findAllUserByPage" resultType="com.Drake.SSM_sys.bean.User">
        select * from user
    </select>
    <select id="findUserById" parameterType="com.Drake.SSM_sys.bean.User" resultType="com.Drake.SSM_sys.bean.User">
        select  * from user where uid=#{uid}
    </select>
    <select id="findAllUserByName" parameterType="String" resultType="com.Drake.SSM_sys.bean.User">
        select  * from user
        <if test="username!=null||username!=''">
            where username=#{username}
        </if>
    </select>
    <update id="updateUser" parameterType="com.Drake.SSM_sys.bean.User">
        update  user set username=#{username},password=#{password},sex=#{sex},age=#{age},roomid=#{roomid},identity=#{identity},phone=#{phone} where uid=#{uid}
    </update>
</mapper>